<div class="jumbotron">
      <h1>Casual Vandalism</h1>
      <p>
           Upload photos to be vandalized publicly.
      </p>
      <p>
        <% if current_user %>
        <%= link_to "See photos", walls_path, :class=>"btn btn-primary btn-large" %>
        <% else %>
          <%= link_to "Begin", new_user_session_path, :class=>"btn btn-primary btn-large" %>
        <% end %>
      </p>

</div>