<div class="jumbotron">
      <h1>Casual Vandalism</h1>
      <p>
           Upload photos to be vandalized publicly.
      </p>
      <p>
        <%= link_to "See photos", walls_path, :class=>"btn btn-primary btn-large" %>
      </p>
      

</div>
<section class="projects">
  <div class="container">
      <div class="article">
          <h1>
              graffiti walls using <img src="http://images.intomobile.com/wp-content/uploads/2010/04/qrcode-e1270678443268.png" alt="qr codes" width="100px" align="right" style="padding-right: 80px;"/>
          </h1>
          <p>Create digital graffiti using your mobile phone or any web browser.</p>
          <p>Upload photos of a place or person to be vandalized publicly.</p>
          <p>Print the QR code for a photo and paste it somewhere in real life.</p>
          <p>People who scan the QR code will be taken to a page where they can draw on
          the photo.</p>
      </div>
  </div>
</section>
