<div class="jumbotron">
      <h1>Casual Vandalism</h1>
      <p>
           Upload photos to be vandalized publicly.
      </p>
      <p>
        <%= link_to "See photos", walls_path, :class=>"btn btn-primary btn-large" %>
      </p>

</div>