<div class="container">

    <div class="row">
        <div class="span10">
        <h1>Editing wall</h1>
        </div>
    </div>
  <div class="row">

    <div class="span5">

      <%= render 'form' %>

    </div>

    <div class="span4">
        <%= image_tag @wall.img_square_url %>
        <br/>
        <br/>
        <%= link_to 'Remove all paint', clear_wall_path(@wall), :class=>"btn" %>
    </div>

  </div>

</div>
