<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="<%=walls_path%>">Walls</a>

    </div>
  </div>
</div>

<%= render 'form' %>
