/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#cancel {
    display: none;
}
#upload {
    display:none;
}

.controls {
    position: fixed;
    z-index: 1;
    font-size: 2.0em;
}

.canvas_ghost {
    position: absolute;
    border: 1px dashed #AAAAAA;
    width: 200px;
    height: 200px;
}

body {
    background-image: url('/assets/vla-alien.jpeg');
}

canvas {
    position: absolute;
}