/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1 {
    color: white;
    font-size: 4em;
}

* {
    font-family: Helvetica;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.controls {
    position: fixed;
    z-index: 1;
}

.controls a,p {
    margin: 4px;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
    float: left;
}

.controls a {
    font-size: 2em;
    line-height: 2em;
    background: #454545;
    color: #ffe60d;
    width: 4em;
    z-index: 10;
}

.controls p {
    font-size: 1em;
    width: 8em;
    background: #fffdd1;
    color: #454545;
}

.controls a:hover {
    color: #fffec9;
    opacity: 0.9;
}

.edit_mode {
    display: none;
}

.select_mode {
    display: none;
}


.canvas_ghost {
    position: absolute;
    border: 3px dashed #454545;
    width: 200px;
    height: 200px;
}

body {
    background-image: url('/assets/vla-alien.jpeg');
    height: 3200px;
}

canvas {
    position: absolute;
    border: 1px solid black;
}