
h1 {
  margin: 10px;
}

body {
  background-image: url('/assets/vla-alien.jpeg');
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
}

#background, #canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

#canvas {
  cursor: crosshair;
}
