
h1 {
  margin: 10px;
}

#canvas_container {
  position: relative;
  overflow: hidden;
}

#canvas_container img#background {
  /*max-width: none !important;*/
}

#background, #canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

#canvas {
  cursor: crosshair;
}

#background, #canvas {
  transform-origin: "0px 0px";
  -o-transform-origin: "0px 0px";
  -ms-transform-origin: "0% 0%";
  -moz-transform-origin: "0px 0px";
  -webkit-transform-origin: "0% 0%";
}


.select-size a {

}

#color1 {
  height:16px;
  background-color: #ff1517;
}

#color2 {
  height:16px;
  background-color: #150fff;
}

#color3 {
  height:16px;
  background-color: #fafffb;
}

#color4 {
  height:16px;
  background-color: #000000;
}

#color5 {
  height:16px;
  background-color: #01e411;
}

#color6 {
  height:16px;
  background-color: #a37d04;
}

body {
  padding-top: 40px !important;
}


.icon-colorwheel {
  width: 16px;
  height: 16px;
  margin-top: -1px;
}
